<nav>
  <h1>Hola.</h1>
  <a href="/">
    <img src="" id="logo" style="width:200px; height:200px;" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>I do computer things and sometimes write about it here. </p>
  <p>
    I'm a Software Engineer in Beijing and I ship code at ThePlant</a>.
  </p>
  <hr/>
  <!-- <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div> -->
  </ul>
</nav>
<script type="text/javascript">
window.onload = function (){
  var oLogo = document.getElementById('logo');

  var max = rom(1,9);
  var arr = [
    '/assets/images/logo1.png',
    '/assets/images/logo2.png',
    '/assets/images/logo3.png',
    '/assets/images/logo4.png',
    '/assets/images/logo5.png',
    '/assets/images/logo6.png',
    '/assets/images/logo7.png',
    '/assets/images/logo8.png'
  ];

  var count = 0;
  for(var i = 0; i < arr.length; i++){
    var oImg = new Image();

    oImg.onload = function (){
      count++;
    };

    oLogo.src = "/assets/images/logo"+max+".png";
  }
}; 

function rom(n,m){
  return parseInt(Math.random()*(m-n)+n);
} 
</script>
